body{
    font-family: 'Dosis';
    background-color: #3c556f;
    color: #90b6db;
    overflow-y: scroll;
    /* background-image: url("/img/img.jpg"); 
    background-size: 100%
    background-repeat: no-repeat;*/
  }

a{
    text-decoration:none;
    color: #F8F9FA;
}

a:hover{
    text-decoration:underline;
    color: #ffffff;
}

h1{
    margin-top:20px;
    margin-bottom:30px;
}

h2{
    color: #90b6db;
    margin-bottom:15px;
    margin-top:15px;
    text-align:left;
}

h5{
    font-size:18px;
}

li{
    color: #F8F9FA;
}

#dropdownMenuButton
{
    color:#90b6db;
}

hr{
    background:#90b6db;
    height:3px;
    border-radius:7px 7px 7px 7px;
    margin-bottom:25px;
}

#newsDate{
    border-radius:0rem 0rem 0.2rem 0.2rem;
    margin-top:-20px;
    padding:5px;
    background-color: #343A40;
    opacity:1;
}