body{
    font-family: 'Dosis';
    /*background-color: #1d2124;*/
    /*background-color: #5CB18D;*/
    background-color: #3c556f;
    color: #669ace;
    overflow-y: scroll;
    /* background-image: url("/img/img.jpg");
    background-size: 100%;
    background-repeat: no-repeat; */
  }

a{
    text-decoration:none;
    color: #F8F9FA;
}

a:hover{
    text-decoration:underline;
    color: #F8F9FA;
}

h1{
    margin-top:20px;
    margin-bottom:30px;
}

h2{
    color: #669ace;
}

nav{
    background-color:#273542;
}

h5{
    font-size:18px;
}

hr{
    background:#669ace;
    height:3px;
    border-radius:7px 7px 7px 7px;
    margin-bottom:25px;
}

#newsDate{
    border-radius:0rem 0rem 0.2rem 0.2rem;
    margin-top:-20px;
    padding:5px;
    background-color: #343A40;
    opacity:1;
}